<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hệ thống quản lí</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

        <div class="clear"></div>
		<br>
        <!-- Navigation Header -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Thêm sách</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/books">Danh sách sách</a></li>
                            <li class="breadcrumb-item active">Thêm mới</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main Content -->
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Thông tin sách mới</h3>
                </div>
                <div class="card-body">
                    <div class="bs-stepper-content">
                        <form action="#" th:action="@{/books/create}" th:object="${book}" method="post">
                            <div class="form-group">
                                <label for="title">Tiêu đề:</label>
        <input type="text" id="title" th:field="*{title}" class="form-control"/>
                            </div>
                            
                            <div class="form-group">
                                <label for="author">Tác giả:</label>
        <select id="author" name="authorId">
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}">Author Name</option>
        </select>
                            </div>
<div class="form-group">
                                <label for="genre">thể loại:</label>
        <select id="genre" name="genreId">
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}">Genre Name</option>
        </select>
                            </div>
                            <div class="form-group">
                                <label for="nxb">Nhà xuất bản:</label>
        <select id="nxb" name="nxbId">
            <option th:each="nxb: ${nxbs}" th:value="${nxb.id}" th:text="${nxb.name}">NXB Name</option>
        </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Lưu</button>
                                <a href="/books" class="btn btn-danger">Quay lại</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </section>
    </div>


</body>
</html>



