<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Nguyễn Trọng Trí</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <img src="img/logo.jpg">
      <h2 th:utext="${message}">..!..</h2>
      
      <img src="img/63132732.jpg">
      <table border="2">

            <tr>
                <td> Mã số sinh viên </td>
				<td> 63132732 </td>
			</tr>
			<tr>
                <td> Họ và tên </td>
				<td> Nguyễn Trọng Trí </td>
			</tr>
			<tr>
                <td> Khoa </td>
				<td> 63.CNTT-CLC </td>
			</tr>
            
    </table>
         
      <a th:href="@{/danhsachSV}">Danh sách sinh viên</a>
      <br>
	  <a th:href="@{/ThemSinhVien}">Thêm sinh viên</a>
   </body>
   
</html>