<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Author</title>
</head>
<body>
    <h1>Add Author</h1>
    <form th:action="@{/authors/add}" th:object="${author}" method="post">
        <label for="authorName">Name:</label>
        <input type="text" id="authorName" th:field="*{authorName}" /><br/>
        <label for="authorAlias">Alias:</label>
        <input type="text" id="authorAlias" th:field="*{authorAlias}" /><br/>
        <label for="authorEmail">Email:</label>
        <input type="text" id="authorEmail" th:field="*{authorEmail}" /><br/>
        <button type="submit">Save</button>
    </form>
    <a href="/authors">Back to List</a>
</body>
</html>
