<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
    <h1>List of Authors</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Alias</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="author : ${authors}">
                <td th:text="${author.authorID}"></td>
                <td th:text="${author.authorName}"></td>
                <td th:text="${author.authorAlias}"></td>
                <td th:text="${author.authorEmail}"></td>
                <td><a th:href="@{/authors/{id}(id=${author.id})}">Edit</a></td>
                <td><a th:href="@{/authors/{id}/delete(id=${author.id})}" onclick="return confirm('Are you sure?')">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/authorCreate}">Add New Author</a>
</body>
</html>