<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Author</title>
</head>
<body>
    <h1>Edit Author</h1>
    <form action="/authors/{id}" method="post" th:object="${author}">
        <input type="hidden" th:field="*{id}">
        Name: <input type="text" th:field="*{authorName}"><br>
        Alias: <input type="text" th:field="*{authorAlias}"><br>
        Email: <input type="text" th:field="*{authorEmail}"><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>
