<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authors List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Danh sách tác giả</h1>
        <a href="/authors/add" class="btn btn-primary">Add New Author</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên</th>
                    <th>Bút danh</th>
                	<th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${authors == null || authors.isEmpty()}">
                    <td colspan="3">No authors available</td>
                </tr>
                <tr th:each="author, iterStat : ${authors}">
                    <td th:text="${iterStat.index + 1}">1</td>
                    <td th:text="${author.authorName}">Name</td>
                    <td th:text="${author.authorAlias}">Alias</td>
                	<td th:text="${author.authorEmail}">Email</td>
                    <td>
                        <a th:href="@{/authors/edit/{id}(id=${author.authorID})}">Edit</a> |
                        <a th:href="@{/authors/delete/{id}(id=${author.authorID})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
